@layer base {
	:root {
		--font-mono: 'Fira Mono, monospace';

		--text-1: 12px;
		--text-2: 14px;

		--background: rgba(17, 24, 39, 1);

		--colors-black: rgba(19, 19, 21, 1);
		--colors-white: rgba(255, 255, 255, 1);
		--colors-gray: rgba(128, 128, 128, 1);
		--colors-blue: rgba(3, 136, 252, 1);
		--colors-red: rgba(249, 16, 74, 1);
		--colors-yellow: rgba(255, 221, 0, 1);
		--colors-pink: rgba(232, 141, 163, 1);
		--colors-turq: rgba(0, 245, 196, 1);
		--colors-orange: rgba(255, 135, 31, 1);

		--space-1: 4px;
		--space-2: 8px;
		--space-3: 16px;

		--radii-1: 2px;
		--radii-2: 4px;

		--line-numbers: rgba(128, 128, 128, 1);
	}

	pre {
		--background: var(--background);
		--text: var(--colors-white);
		--syntax1: var(--colors-orange);
		--syntax2: var(--colors-turq);
		--syntax3: var(--colors-pink);
		--syntax4: var(--colors-pink);
		--comment: var(--colors-gray);
		--removed: var(--colors-red);
		--added: var(--colors-turq);

		box-sizing: border-box;
		padding: var(--space-3);
		overflow: auto;
		font-size: var(--text-2);
		line-height: var(--space-3);
		white-space: pre;
		background-color: var(--background);
		color: var(--text);

		& > code {
			display: block;
			background-color: var(--background);
		}

		.token.parameter {
			color: var(--text);
		}

		.token.tag,
		.token.class-name,
		.token.selector,
		.token.selector .class,
		.token.function {
			color: var(--syntax1);
		}

		.token.attr-value,
		.token.class,
		.token.string,
		.token.number,
		.token.unit,
		.token.color {
			color: var(--syntax2);
		}

		.token.attr-name,
		.token.keyword,
		.token.rule,
		.token.operator,
		.token.pseudo-class,
		.token.important {
			color: var(--syntax3);
		}

		.token.punctuation,
		.token.module,
		.token.property {
			color: var(--syntax4);
		}

		.token.comment {
			color: var(--comment);
		}

		.token.atapply .token:not(.rule):not(.important) {
			color: inherit;
		}

		.language-shell .token:not(.comment) {
			color: inherit;
		}

		.language-css .token.function {
			color: inherit;
		}

		.token.deleted:not(.prefix),
		.token.inserted:not(.prefix) {
			display: block;
			px: 16px;
			mx: -16px;
		}

		.token.deleted:not(.prefix) {
			color: var(--removed);
		}

		.token.inserted:not(.prefix) {
			color: var(--added);
		}

		.token.deleted.prefix,
		.token.inserted.prefix {
			userselect: none;
		}
	}

	.orange-theme {
		--background: rgb(255 135 31 / 10%);
		--syntax1: var(--colors-pink);
		--syntax2: var(--colors-turq);
		--syntax3: var(--colors-orange);
		--syntax4: var(--colors-orange);
	}

	.pink-theme {
		--background: hsl(345deg 66% 73% / 20%);
		--syntax1: var(--colors-orange);
		--syntax2: var(--colors-turq);
		--syntax3: var(--colors-pink);
		--syntax4: var(--colors-pink);
	}

	.turq-theme {
		--background: rgba(0, 245, 196, 0.15);
		--syntax1: var(--colors-orange);
		--syntax2: var(--colors-pink);
		--syntax3: var(--colors-turq);
		--syntax4: var(--colors-turq);
	}

	.line-numbers {
		.highlight-line {
			position: relative;
			padding-left: 20px;

			&::before {
				content: attr(data-line);
				position: absolute;
				left: 0;
				top: 0;
				color: var(--line-numbers);
			}
		}
	}

	.highlight-line {
		&[data-highlighted='false'] {
			opacity: 0.4;
		}

		&[data-highlighted='true'] {
		}
	}

	.highlight-word {
		&.on {
			background-color: darkblue;
		}
	}
}
